* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_form {
  margin: 10%;
  width: 60%;
  height: 60%;
  background-color: rgb(208, 208, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
}
form {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}
h2 {
  margin-bottom: 1rem;
  font-size: 35px;
}
label {
  font-size: 1.2rem;
  font-weight: 500;
  color: Black;
  display: block;
  padding: 0.5rem 0;
}
input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgb(136, 107, 107);
  padding: 0.8rem;
  outline: none;
  margin-top: 1.5rem;
}
input:focus {
  background: #fff;
}
textarea {
  width: 100%;
  border: 1px solid rgb(136, 107, 107);
  padding: 0.5rem;
  outline: none;
  border-radius: 2px;
  margin-top: 1.5rem;   
  resize: vertical;
}
input[type="submit"] {
  background: rgb(91, 91, 224);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 30%;
  margin-top: 2.5rem;
}
small{
    color:red;
    font-size:15px;
}
/* responsive code*/
@media only screen and (max-width: 700px) {
  .contact_form {
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .contact_form {
    width: 80%;
  }
  form {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 400px) {
  .contact_form {
    width: 100%;
    padding: 1rem;
  }
  input[type="submit"] {
    width: 40%;
  }
}
