*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;   
}
.container{
    max-width: 100%;
    margin:0 auto;
}
.index_header{
    position: fixed;
    top:0;
    width:100%;
    text-align:right;
    padding:20px;
}
.index_header .list{
    list-style-type: none;
    padding-right:30px;
}
.index_header .list a li{
    display:inline;
    padding:10px;
    font-size:20px;
    color:black;
    font-weight: 600;
}
.index_header .list a li:hover{
    background:#acb3b9;
    border-radius: 10px;
}
.index_section{
    margin: 0 auto;
    max-width:70%;
    margin-top:20px; 
    display:flex;
    justify-content: space-around;
}
.index_section div h1{
    font-weight:700;
    font-size:50px;
    padding:10px;
}
.index_section div p{
    font-size: 25px;
    font-weight:700;
    padding:10px;
}
.index_section div p a:hover{
    border-bottom:2px solid lightskyblue;
}
.index_section div img{
    width:200px;
    height:250px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
.index_section div .social a{  
    padding:5px;
}
.index_section div .social a i{
    font-size: 30px;
    color:white;
    padding:30px;
}
.index_section div .social a i:hover{
    background:rgb(104, 103, 97);
}
.index_section div.social a .fa-twitter{
    background: rgb(150, 148, 228);
    border-radius:50%;
    padding:10px;
}
.index_section div .social a .fa-github{
    background: rgb(104, 102, 238);
    border-radius:50%;
    padding:10px;
}
.index_section div .social a .fa-codepen{
    background: rgb(32, 53, 47);
    border-radius:50%;
    padding:10px;
}
.index_section div .social a .fa-linkedin-in{
    background: rgb(80, 77, 241);
    border-radius:50%;
    padding:10px;
}
.index_section .button{
    background:rgb(143, 67, 214);
    display:inline-block;
    padding:8px;
    border-radius:5px;
    margin-top:20px;
    color:white;
    margin-left: 10px;;
}
.index_section div .button:hover{
    background:rgb(104, 103, 97);
}


/*responsive design css*/

@media only screen and (max-width:900px){
    .index_section div h1{
        font-size:40px;
    }
}
@media only screen and (max-width:750px){
    .index_header{
        position: relative; 
    }
    .index_section {
        display: block;
        margin-top:50px;
    }
    .index_section div h1{
        font-size:30px;
    }
    .index_section div p{
        font-size:18px;
    }
    .index_section div img{
        padding-top:30px;
        width:100%;
        height:400px;

    }

}
@media only screen and (max-width:400px){
    .index_header .list a li{
        font-size: 16px;;
    }
    .index_section div .social a i{
        font-size:18px;
    }
    .index_section{
        margin-top:20px; 
    }   
    .index_section div h1{
        font-size:25px;
    }
}
