* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project_header{
      position: fixed;
      top:0;
      width:100%;
      text-align:right;
      padding:20px;
  }
  .project_header .list{
      list-style-type: none;
      padding-right:30px;
  }
  .project_header .list a li{
      display:inline;
      padding:10px;
      font-size:20px;
      color:black;
      font-weight: 600;
  }
  .project_header .list a li:hover{
      background:#acb3b9;
      border-radius: 10px;
  }
  .project_section {
    margin-top: 100px;
    width:100%;
    display:flex;
  }
  .project_section .card1 {   
    flex: 0 0 auto;
    width: 32%;
    padding:10px;
    background: rgb(238, 206, 206);
    margin:5px;
    text-align: center;
  }
  .project_section .card1 h3 {  
    padding:5px;
    text-align:center;
  }
  .project_section .card1 p {  
    padding:5px;
    text-align:justify;
  }
  .project_section .card1 a {  
    color: #FFFFFF;
    cursor: pointer;
    background-color: #009CFF;
    border-color: #009CFF;
    text-align: center;
    padding: 5px;
    border-radius: 5;
  }
  /* responsive code*/
  @media only screen and (max-width: 500px) {
  }
  @media only screen and (max-width: 400px) {
  }
  