* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main {
    margin-top:50px;
    width: 80%;
  }
  .progress {
    margin: 25px 0;
  }
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  .title h3 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
  }
  .barline {
    height: 12px;
    background: #c8d6e5;
    border-radius: 20px;
  }
  
  .countbar {
    height: 12px;
    background: #5f27cd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
  }
  .countbar h3 {
    position: absolute;
    right: -19px;
    top: -35px;
    background: #34495e;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
  }
  .countbar h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 11px;
    height: 11px;
    background: #34495e;
    transform: rotate(45deg) translateX(-60%);
  }
  