* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.margin_top_150 {
  margin-top: 150px;
}

body {
  /* background: #fafafa; */
  background: #e9e9e9;
}

/* header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  padding: 20px;
  background: #ffffff;
}
.header .list {
  list-style-type: none;
  padding-right: 30px;
}
.header .list li {
  display: inline;
  padding: 10px;
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.header .list li.active,
.header .list li:hover {
  background: #acb3b9;
  border-radius: 10px;
}

@media only screen and (max-width: 400px) {
  .header .list li {
    font-size: 16px;
  }
}

/* contact page */

.contact_section {
  padding: 50px 0;
}
.contact_form {
  margin: 10%;
  /* width: 60%; */
  height: 60%;
  background-color: rgb(187 187 217);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
}
form {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}
h2 {
  margin-bottom: 1rem;
  font-size: 35px;
}
label {
  font-size: 1.2rem;
  font-weight: 500;
  color: Black;
  display: block;
  padding: 0.5rem 0;
}
input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgb(136, 107, 107);
  padding: 0.8rem;
  outline: none;
  margin-top: 1.5rem;
}
input:focus {
  background: #fff;
}
textarea {
  width: 100%;
  border: 1px solid rgb(136, 107, 107);
  padding: 0.5rem;
  outline: none;
  border-radius: 2px;
  margin-top: 1.5rem;
  resize: vertical;
}
input[type="submit"] {
  background: rgb(91, 91, 224);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 30%;
  margin-top: 2.5rem;
}
small {
  color: red;
  font-size: 15px;
}
/* responsive code*/
@media only screen and (max-width: 500px) {
  .contact_form {
    width: 80%;
  }
  form {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 400px) {
  input[type="submit"] {
    width: 40%;
  }
  .contact_form {
    margin-top: 30%;
  }
}

/*responsive design css*/

@media only screen and (max-width: 900px) {
  .index_section div h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 750px) {
  .header {
    position: relative;
  }
  .index_section {
    display: block;
    margin-top: 50px;
  }
  .index_section div h1 {
    font-size: 30px;
  }
  .index_section div p {
    font-size: 18px;
  }
  .index_section div img {
    padding-top: 30px;
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .index_section div .social a i {
    font-size: 18px;
  }
  .index_section {
    margin-top: 20px;
  }
  .index_section div h1 {
    font-size: 25px;
  }
}
